.paging_controller-container {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-around;
}

.paging_controller-button {
  border: 0.5px solid #c9d1d5;
  padding: 1px 7.5px 1px 7.5px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  fill: #506670c5;
}

.paging_controller-button:hover {
  background-color: #506670c5;
  transition: 0.5s;
  fill: white;
}

.page-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.page-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.paging_controller-display {
  user-select: none;
  font-weight: 600;
  color: #012639;
  padding: 1px 15px 1px 15px;
  /*border: 0.5px solid #c9d1d5;
  border-right: none;
  border-left: none;*/
}
